    <!-- this is footer -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-column">
                <h3>ForNature</h3>
                <p>furniture minimalist</p>
                <p>
                    Three seven, inc. is a contemporary interior design studio. We have over 20 years of experience in consulting and implementing interior furniture projects along with the supply of furniture of the highest level.
                </p>
                <form class="newsletter-form">
                    <label for="newsletter">Subscribe Newsletter</label>
                    <div class="form-group">
                        <input type="email" id="newsletter" placeholder="Enter your email" />
                        <button type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
            <div class="footer-column">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Products</h4>
                <ul>
                    <li><a href="#">living room</a></li>
                    <li><a href="#">badroom</a></li>
                    <li><a href="#">Dining</a></li>
                    <li><a href="#">Bathroom</a></li>
                    <li><a href="#">Kitchen</a></li>
                    <li><a href="#">Storage</a></li>
                    <li><a href="#">Outdoor</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Support</h4>
                <ul>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Shipping</a></li>
                </ul>
                <div class="social-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>