<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<script type="module" src="/javascript/api/apis.js"></script>
<script type="module" src="/javascript/components/cart.js"></script>
<script type="module" src="/javascript/components/wishlist.js"></script>
<script type="module" src="/javascript/header.js"></script>

<body>
    <div class="navbar-container">
        <nav class="navbar">
            <div class="title">
                <h2>For</h2>
                <h2>Nature</h2>
            </div>

            <ul class="items">
                <li><a href="/">Home</a></li>
                <li>
                    <a href="/products">Products</a>

                </li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Content</a></li>
            </ul>

            <div class="header-icon">
                <ul>
                    <li class="wishlist-link"><i class="material-icons">favorite</i></li>
                    <li class="cart-link"><a><i class="material-icons">shopping_cart</i></a></li>
                    <% if (user?.isAdmin) { %>
                        <li><a href="/admin"><i class="material-icons">admin_panel_settings</i>
                        </a></li>
                    <% }%>
                    <% if (user) { %>
                        <li><a href="/logout"><i class="material-icons">logout</i></a></li>
                    <% } else {%>
                        <li><a href="/login"><i class="material-icons">login</i></a></li>
                    <% }%>
                </ul>
            </div>
        </nav>
        <div class="cart-container">
            <div class="cart-content">
                <div class="cart-item">
                    <div class="cart-img"><img src="" alt=""></div>
                    <div class="cart-grid">
                        <div class="cart-info">
                            <h3 class="cart-name"></h3>
                            <p class="cart-summery"></p>
                            <span class="price"></span>
                        </div>
                        <div class="cart-buttons">
                            <div class="quantity-btn cart">
                                <button class="decrease-quantity"><i class='bx bx-minus'></i></button>
                                <span class="quantity"></span>
                                <button class="increase-quantity"><i class='bx bx-plus'></i></button>
                            </div>
                            <span class="test">test</span>
                            <div class="delete-btn cart"><i class='bx bx-trash'></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-button">
                <button>
                    <h4>CHECKOUT</h4>
                    <span>total:</span>
                </button>
            </div>
        </div>

        <div class="wishlist-container">
            <div class="wishlist-content">
                <div class="wishlist-item">
                    <div class="wishlist-img"><img src="" alt=""></div>
                    <div class="wishlist-info">
                        <h3 class="wishlist-name"></h3>
                        <p class="wishlist-summery"></p>
                        <span class="price"></span>
                    </div>
                    <div class="delete-wishlist-btn"><i class='bx bx-trash'></i></div>
                </div>
            </div>
        </div>
    </div>