<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <nav class="navbar">
        <div class="title">
            <h2>For</h2>
            <h2>Nature</h2>
        </div>

        <ul class="items">
            <li>Home</li>
            <li>
                Poducts
            </li>
            <li>About us</li>
            <li>Content</li>
        </ul>

        <div class="header-icon">
            <ul>
                <li>wish list</li>
                <li>card</li>
                <li>login</li>
            </ul>
        </div>
    </nav>
