<%- include('partials/header'); -%>
<div class="container home">
    <div class="home">
        <div class="home-content">
            <h1><span>Modern Furniture</span> <br>For Your House</h1>
            <p>We understand you need for home decor <br> with unique decorative accessorise</p>
            <a href="#"><span>Shop More!</span></a>
        </div>
    </div>
</div>
<%- include('partials/footer'); -%>