<%- include('partials/header'); -%>

<div class="products-container">

    <!-- Filterations sidebar start -->
    <div class="sidebar-container">
        <div class="sidebar-content">
            <form class="filteration-form" action="">
                <ul>
                    <li>
                        <div class="filteration-header">
                            <i class='bx bxs-chevron-down'></i>
                            <span>Category</span>
                        </div>
                        <ul class="category list-content hidden">
                            <li>
                                <ul class="subCategory list-content"></ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="price-header">
                            <i class='bx bxs-chevron-down'></i>
                            <span>Price</span>
                        </div>
                        <ul class="price-filter hidden">
                            <div class="range_container">
                                <div class="sliders_control">
                                    <input id="fromSlider" type="range" value="10" min="0" max="1000"/>
                                    <input id="toSlider" type="range" value="40" min="0" max="1000"/>
                                </div>
                                <div class="form_control">
                                    <div class="form_control_container">
                                        <div class="form_control_container__time">Min</div>
                                        <input class="form_control_container__time__input" type="number" id="fromInput" value="10" min="0" max="1000"/>
                                    </div>
                                    <div class="form_control_container">
                                        <div class="form_control_container__time">Max</div>
                                        <input class="form_control_container__time__input" type="number" id="toInput" value="40" min="0" max="1000"/>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                </ul>
                <div class="filteration-btn">
                    <input type="submit">
                </div>
            </form>
        </div>
    </div>
    <!-- Filterations sidebar end -->

    <div class="product-content">
        <div class="carousel-section">
            <img src="/images/products/1174099.jpg" alt="">
        </div>
        <div class="product-collection">
            <div class="product-grid">
                <a href="">
                <div class="product-item skeleton">
                    <img class="product-image skeleton" src="" alt="">
    
                    <div class="product-information">
                        <div class="product-name skeleton">
                            <h3 class="skeleton-text"></h3>
                        </div>
                        <div class="product-rating skeleton">
                            <span class="fa fa-star checked skeleton"></span>
                            <span class="fa fa-star checked skeleton"></span>
                            <span class="fa fa-star checked skeleton"></span>
                            <span class="fa fa-star checked skeleton"></span>
                            <span class="fa fa-star-half skeleton"></span>
                        </div>
                        <p class="product-summery skeleton-text"></p>
                        <div class="buttons">
                            <div class="price skeleton-text"></div>
                            <button class="cart-btn skeleton">Add to cart</button>
                            <div class="quantity-btn">
                                <button class="decrease-quantity"><i class='bx bx-minus'></i></button>
                                <span class="quantity skeleton-text">1</span>
                                <button class="increase-quantity"><i class='bx bx-plus'></i></button>
                            </div>
                            <button class="favorate-btn skeleton"><i class="material-icons">favorite</i></button>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div class="pagination-wrapper">
        </div>
    </div>
    
</div>
<script type="module" src="/javascript/products.js"></script>
