<%- include('partials/header'); -%>
<script src="/javascript/products.js"></script>

<div class="product-container">

    <!-- Filterations sidebar start -->
    <div class="sidebar">
                
    </div>
    <!-- Filterations sidebar end -->

    <div class="product-content">
        <div class="carousel-section">
            <img src="/images/1174099.jpg" alt="">
        </div>
        <div class="product-collection">
            <div class="product-grid">
                <div class="product-item skeleton">
                    <img class="product-image skeleton" src="" alt="">
    
                    <div class="product-information">
                        <div class="product-name skeleton">
                            <h3 class="skeleton-text"></h3>
                        </div>
                        <div class="product-rating skeleton">
                            <span class="fa fa-star checked skeleton"></span>
                            <span class="fa fa-star checked skeleton"></span>
                            <span class="fa fa-star checked skeleton"></span>
                            <span class="fa fa-star checked skeleton"></span>
                            <span class="fa fa-star-half skeleton"></span>
                        </div>
                        <p class="product-summery skeleton-text"></p>
                        <div class="buttons">
                            <div class="price skeleton-text"></div>
                            <button class="cart-btn skeleton">Add to cart</button>
                            <div class="quantity-btn">
                                <button class="decrease-quantity"><i class='bx bx-minus'></i></button>
                                <span class="quantity skeleton-text">1</span>
                                <button class="increase-quantity"><i class='bx bx-plus'></i></button>
                            </div>
                            <button class="favorate-btn skeleton"><i class="material-icons">favorite</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-wrapper">
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
        </div>
    </div>
    
</div>
