*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-style: normal;
    font-family: "DM Serif Text", serif;
}

/* navbar start */
.navbar-container {
    position: fixed;
    width: 100%;
    z-index: 3;
}
.navbar {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 2px rgb(74, 144, 46);
    background-color: rgb(255, 255, 255);
}

.navbar .title {
    display: flex;
}

.navbar .title h2::first-letter {
    color: rgb(74, 144, 46);
}

.navbar ul {
    display: flex;
    gap: 18px;
    list-style: none;
}

.items {
    gap: 43px
}

.items li a {
    text-decoration: none;
    color: black;
    transition: all .5s ease;
}

.items li a:hover {
    color: rgb(74, 144, 46);
}

.material-icons {
    text-decoration: none;
    color: black;
}

.header-icon li {
    cursor: pointer;
}
/* navbar end */

/* cart start and wishlist */
.cart-container, .wishlist-container {
    position: relative;
    width: 0;
    height: 100%;
    background-color: white;
    position: fixed;
    right: 0;
    z-index: 2;
    transition: all 1s ease;
}

.cart-content, .wishlist-conent{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: all 3s ease;
}

.cart-item, .wishlist-item {
    width: 100%;
    height: fit-content;
    display: none;
    padding: 4px;
    transition: all 3s ease;
    box-shadow: 0 2px 5px 0 #888;
    border-bottom: 5px solid greenyellow;
}

.cart-img, .wishlist-img {
    width: 100px;
    height: 100%;
}
.cart-img img, .wishlist-img img {
    width: 100px;
    height: 100%;
}

.cart-info, .wishlist-info {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    padding-left: 1px;
}

.quantity-btn.cart {
    display: flex;
    width: 100px;
}

.cart-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0 0 3px;
}
.cart-container .cart-button {
    position: relative;
    bottom: 120px;
    display: flex;
    justify-content: center;
}

.cart-button button{
    border: none;
    height: 50px;
    min-width: 100px;
    background-color: #4dbc84;
    color: white;
    cursor: pointer;
}

.cart-button button:hover{
    transition: all 0.5s ease;
    background-color: #3b8e64;;
}

.delete-btn.cart {
    cursor: pointer;
    font-size: 25px;
}

.bx.bx-trash {
    cursor: pointer;
    color: red;
}

.delete-wishlist-btn {
    padding: 0 5px;
    font-size: 25px;
    display: flex;
    align-items: center;
}