.prod-container {
    height: fit-content;
    padding-top: 61px;
    background-color: #f0f0f0;
}

.prod-grid {
    width: 70%;
    height: 100vi;
    margin: 0 12rem;
    background-color: white;
    padding: 40px;
}

.prod-content {
    padding: 0em 0 0 0;
}

.prod-info {
    display: flex;
    justify-content: space-between;
}

.prod-info .info{
    padding: 50px;
}

.info .prod-category {
    display: flex;
    color: #6f8e64;
    font-size: .92em;
}

.info .prod-price {
    display: flex;
}

.info span {
    display: block;
}

.info .prod-price {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.info .prod-price .p{
    font-weight: 900;
}

.info .shipping {
    font-size: .9rem;
    color: #595858;
    font-style: oblique;
}

.prod-info .img img{
    /* width: 550px; */
    width: 481px;
}

.prod-info .prod-name {
    /* color: #58983e */
}

.prod-info .prod-summary {
    margin-top: 5px;
}

.prod-content .buttons {
    /* margin-top: 50px; */
    position: relative;
    justify-content: start;
    top: 50%;
}

.prod-content .buttons .cart-btn{
    width: 300px;
    font-size: large;
    font-weight: 800;
    color: #4dbc84;
    border-radius: 0;
    margin-right: 20px;
    background-color: white;
    border: 1px solid #4dbc84;
}

.prod-content .buttons .cart-btn:hover{
    color: white;
    background-color: #4dbc84;
    transition: 1s;
}

.prod-content .buttons .quantity-btn {
    width: 300px;
    margin-right: 20px;
}

.hr {
    width: 100%;
    padding-top: 90px;
    border-bottom: 1px solid #515151;
}

.prod-description {
    /*  */
}

.prod-description h1{
    position: relative;
    bottom: 1px;
    width: fit-content;
    border-top: 2px solid #4dbc84;
}

.prod-description h1{
    font-style: normal;
}


/* rating start system */
:root{
    --primary-colour: #fff;
    --secondary-colour: #4dbc84;
   
    --star-colour: hsl(38 90% 55%);
  }


.container__items{
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 0 .5em;
    width: 17%;
    height: fit-content;
}
  
.container__items input{
    display: none;
}
  
.container__items label{
    width: 20%;
    aspect-ratio: 1;
    cursor: pointer;
}
  
.container__items label .star-stroke{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background: var(--secondary-colour);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
  
.container__items label .star-stroke .star-fill{
    width: 70%;
    aspect-ratio: 1;
    background: var(--primary-colour);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
  
.container__items input:hover ~ label .star-stroke,.container__items input:checked ~ label .star-stroke{
    background: var(--star-colour);
}
  
.container__items input:checked ~ label .star-stroke .star-fill{
    background: var(--star-colour);
}
  
.container__items label:hover .label-description::after{
    content: attr(data-content);
    position: fixed;
    left: 0;
    right: 0;
    
    margin-top: 1em;
    margin-inline: auto;
    
    width: 100%;
    height: 2em;
    
    color: #fff;
    
    text-align: center;
    font-size: 2rem;
    
    transform: rotateY(180deg);
}

.rate {
    display: flex;
    justify-content: space-between;
}

.review-btn {
    color: white;
    background-color: #4dbc84;
    cursor: pointer;
    border: none;
    width: 80px;
    height: 30px;
}

.review-btn:hover {
    transition: 1s all ease;
    background-color: #2a7c53;
}

.rate {
    margin-top: 5px;
}

.review {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.review-user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
}

.review-content {
    padding-left: 10px;
}

.user-rate {
    font-size: 0.9em;
    color: #555;
}

.user-review {
    font-size: 1em;
    color: #333;
}
